.aboutMe {
  display: flex;
  padding-block: var(--section-padding)
}

.aboutMeWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-100);
  border-radius: 75px;
  padding: 3rem;
  padding: clamp(3rem, 2.4rem + 3vw, 6rem);
  color: var(--bg-dark);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cardWrapper {
  margin-top: 2rem;
}

.profilePic {
  width: fit-content;
  height: fit-content;
  max-height: 250px;
  object-fit: contain;
  border-radius: 75px;
}

.cardText {
  color: var(--secondary-100);
  margin-top: .75rem;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;
}

.cardText li {
  color: var(--bg-dark);
  margin-bottom: 0.5rem;
}

.cardText li::marker {
  color: var(--bg-dark);
}

.info {
  max-width: 800px;
  height: fit-content;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.arrowWrapper {
  display: none;
}

@media screen and (min-width: 1000px) {
  .aboutMe {
    height: 100vh;
  }

  .aboutMeWrapper {
    flex-direction: row;
    background-color: transparent;
  }

  .arrowWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem 2rem 0;
  }

  .info {
    background-color: var(--secondary-100);
    border-radius: 75px;
    padding: 3rem;
    padding: clamp(3rem, 2.4rem + 3vw, 6rem);
    flex: 2;
  }

  .cardWrapper {
    margin: 3rem;
  }

  .cardText {
    display: block;
  }

  .cardText li {
    color: var(--secondary-100);
  }

  .cardText li::marker {
    color: var(--secondary-100);
  }
}