.bauble{
  background-color: inherit;
  color: inherit;
  border-radius: 75px;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: stretch;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.bauble:hover{
  transform: scale(.98);
  transition: transform 200ms ease;
}

/* .baubleContent{
  font-size: 3rem;
  justify-self: center;
  align-self: center;
} */

.baulbleFooter{
  font-size: 1.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: .75rem;
}

.icon{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.icon>*{
  height: 40px;
  width: 40px;
}

.marquee {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  font-size: 3rem;
  overflow-x: hidden;
  white-space: nowrap;
}

.marqueeInner{
  width: 100%;
  overflow-x: hidden;
}

.bauble:hover .marquee{
  display: flex;
  width: 300%;
  position: absolute;
  animation: marquee 10s linear infinite;
}

.bauble:hover .icon{
  display: none;
}

.marqueeInner>span {
  width: 50%;
  overflow-x: hidden;
}

.briefcase{
  color: var(--primary-400);
}

.addressCard{
  color: var(--bg-dark);
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

