.contactInfoSidebar{
  display: none;  
}


@media screen and (min-width: 1000px) {
  .contactInfoSidebar{
    display: flex;
    height: 100vh;
    padding-block: var(--section-padding);
    align-items: flex-end;
    justify-content: flex-end;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: 0 0 0 3rem;
    padding-block: 0;
  }

  #contactInfoSidebar{
    flex-direction: row;
  }

  .contactContainer{
    padding: 0 0 0 3rem;
  }

  #contactGroup{
    color: var(--secondary-500);
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #contactGroup::after{
    content: "";
    height: 7rem;
    width: 2px;
    background-color: var(--secondary-500);
    display: block;
    margin: auto;    
  }

  #contactsA, #contactsB{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #contactGroup>div>li{
    padding: .75rem;
  }

  .linkItem>*{
    width: 24px;
    height: auto;
  }

}