@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oswald);
  --font-mono: var(--font-geist-mono);
  --font-racing: var(--font-racing-sans-one);
  --font-oswald: var(--font-oswald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --bg-dark: #326273;
  --bg-light: #508a9c;
  --primary-100: #D1BAA2;
  --primary-400: #E88659;
  --secondary-100: #C8BF58;
  --secondary-400: #56C1E1;
  --secondary-500: #3EB489;
  --light: #F5F5F5;
  --dark: #1C1C1E;

  --section-padding: .5rem;
}

html,
body {
  font-family: var(--font-oswald), sans-serif;
  color: var(--light);
  background: var(--bg-dark);
  background: linear-gradient(90deg, var(--dark) 0%, var(--dark) 10%, var(--dark) 90%, var(--dark) 100%);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.main {
  width: 100%;
}

/* small navigation buttons on the side of the page */
.downButton,
.upButton {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downButton img,
.upButton img {
  filter: brightness(0) invert(1);
}

.toTop {
  height: 110vh;
  position: fixed;
  position: -webkit-fixed;
  bottom: 0;
  right: 0;
  margin: 0, 0, 1rem, 1rem;
  z-index: 5;
  display: flex;
  align-items: flex-end;
}


/* hero page bauble button colors */

#projectsBtn {
  background-color: var(--primary-100);
  color: var(--primary-400);
}

#skillsBtn {
  background-color: var(--secondary-400);
  color: var(--light);
}

#aboutMeBtn {
  background-color: var(--secondary-100);
  color: var(--bg-dark);
}

#contactBtn {
  background-color: var(--secondary-500);
  color: var(--light);
}

/* temp */
.arrowWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: 3rem;
}

.swiper-button-prev {
  color: red;
}

.swiper-button-next {
  color: #000;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    flex-direction: row;
  }

  /* .toTop{
    display: none;
  } */

  .downButton:hover,
  .upButton:hover {
    background-color: var(--secondary-500);
    transform: translateY(-3px);
    transition: transform 200ms ease-in;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24)
  }

  .downButton:active,
  .upButton:active {
    /* background-color: var(--primary-400); */
    transform: translateY(0px);
    transition: transform 000ms ease;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  }
}