.section{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: var(--section-padding);
}

.contactContainer{
  padding: 0 0 0 3rem;
}

#contactTitle{
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#contactGroup{
  color: var(--secondary-500);
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#contactsA, #contactsB{
  display: flex;
  justify-content: space-evenly;
}

#contactGroup::after{
  content: "";
  width: 13rem;
  height: 2px;
  background-color: var(--secondary-500);
  display: block;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* #contactGroup::after:hover{
  transform: scale(1.1);
} */

#contactGroup>div>li>a{
  margin: 0;
  padding: 0;
}

#contactGroup>div>li{
  padding: .75rem;
}

.linkItem>*{
  height: 50px;
  width: 50px;
}

.linkItem>*:hover{
  transform: translateY(-5px);
}

.linkItem>*:active{
  transform: translateY(5px);
}
