.section{
  display: flex;
}

.heroNav{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 100vh;
  padding-block: var(--section-padding);
  /* justify-content: flex-end; */
}

.titleWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

.title{
  width: fit-content;
}

.heroTitle{
  font-family: 'Racing Sans One', sans-serif;
  font-size: 2.75rem;
  text-align: center; 
  padding-inline: .5rem;
  letter-spacing: 1px;
}

.titleSubtext{
  text-align: end;
  padding-inline-end: .5rem;
}

.top3{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex-basis: 45%;
  /* border: solid wheat; */
}

.twoAndThree{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: .5rem;
  flex-basis: 100%;
} 

.btn1{
  width: 100%;
  /* min-height: 15rem; */
  flex-basis: 100%;
}

.btn2, .btn3{
  width: 100%;
  flex-basis: 100%;
}

.btn4{
  flex-basis: 15%;
}

.sideNav{
  display: none;
}

@media screen and (min-width: 1000px) { 
  .top3 {
    flex-direction: row;
  }

  /* .btn1 {
    flex: 100%;
  } */

  .twoAndThree{
    flex-direction: column;
    flex: 100%;
  }

  .sideNav{
    display: flex;
    align-items: flex-end;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-height: 450px){
  .heroNav{
    min-height: 844px;
  }
}